{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 text-center my-1">
                <h3 class="display-4">The secret of Monkey Island™</h3>
                <img src="{% static 'mi_universe/images/pirate_wannabe.png' %}" alt="Monkey Island opening scene" width="700" height="auto"
                        class="img-fluid rounded shadow">   
            </div>
            <div class="col-12 text-center my-4 mi-text-700">
                <p>This is the first scene when the game begins...
                    Classic and iconic, isn't it? The game starts with a pirate wannabe, Guybrush Threepwood, 
                    and according to the story, he was washed ashore at the island of Mêlée. He is eager to 
                    become a pirate and sets out on a quest to prove himself. Along the way, he encounters 
                    various characters, solves puzzles, and uncovers the secrets of Monkey Island™. The game 
                    is known for its humor, engaging storyline, and memorable characters. It's a beloved 
                    classic that has captivated players for decades.
                </p>
                <h2>The secret of Monkey Island™ game series</h2>
                <p>First of all, it is a series of adventure games that was very popular during the 1990s. 
                    All who were playing much computer games during the 90's for sure knows this game or have at 
                    least heard about it.
                </p>
                
                <p>In my personal opinion, this is one of my absolute favorite adventure games developed 
                    and published by the marvelous LucasArts™ computergame company. I really like even 
                    the first release from 1990 with not so fancy graphics but it's amazing soundtrack 
                    in it and the dialogues are razorsharp and many times with great humor. You get this 
                    cozy atmosphere and I can really recommend this game to everyone who haven't played 
                    this before. Especially since the game programmer and designer Ron Gilbert did a 
                    fantastic job and happened to make the game to what it became.<br>
                    However, many years later Lucasarts released a remake of the game with updated graphics 
                    and sound and many prefer this one. Ron Gilbert was involved also in the sequel, LeChuck's
                    revenge™.
                    But, even if the third game in the series, The curse of Monkey Island™ was not a Ron 
                    Gilbert production, it is actually a worthy followup on the sequel with very good 
                    graphics and sound. But after this, the 4th (Escape from Monkey Island™) and 5th 
                    (Tales of Monkey Island™) parts was weak followups and it never reach the standard of 
                    the three first but they are still are enjoyable games.<br>
                    As late as 2022 a 6th part of the game was released (Return to Monkey Island™) and this
                    time, Ron Gilbert was back and involved in the development of the game.
                    It was sure better than the 4th and 5th game but still not like the old ones. But...
                    it had a great soundtrack and had it's nice moments.
                </p>
                <p>And let's return to the secret of Monkey Island™? Well, I will not spoil it for you. You 
                    have to play the game to find out. 
                    But I can say that it is a very good story and you will really enjoy the journey. So, 
                    if you want to find out the secret of Monkey Island, you have to play the game. And if 
                    you want to know more about the game, you can check out the other pages on this website 
                    where we have listed all the islands, some characters and a few items that are in the 
                    game.
                    If you want to know more about Ron Gilbert or LucasArts™ I have added links below. They do 
                    not have an official website but wikipedia have good pages about them.
                </p>
                <div class="about-links col-12 text-start my-4">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="https://en.wikipedia.org/wiki/Ron_Gilbert" target="_blank">Ron Gilbert on Wikipedia</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/LucasArts" target="_blank">LucasArts™ on Wikipedia</a></li>
                    </ul>
                </div>
                <div class="col-12 text-center my-1">
                <img src="{% static 'mi_universe/images/mi.png' %}" alt="Monkey Island, seen from the ship" width="700" height="auto"
                        class="img-fluid rounded shadow">   
                </div>
            </div>
        </div>
    </section>

{% endblock %}