{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-4">
  <h1>Characters</h1>
  <p>Not all characters are listed here. But our heroes are here and
    other important characters for the story is listed here. You can 
    click on the character name to see more details about them.
  </p>

  <ul class="mi-list">
    {% for character in characters %}
      <li>
        <a href="{% url 'character_detail' character.pk %}">
        {{ character.name }}
        </a>
        {% if character.island %}
          – from {{ character.island.name }}
        {% endif %}
      </li>
    {% empty %}
      <li>No characters added yet.</li>
    {% endfor %}
  </ul>
</section>

{% endblock %}