{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h3 class="display-5">Welcome to the Monkey Island Universe</h3>
                <img src="{% static 'mi_universe/images/mi1_se.png' %}" alt="Monkey Island title screen" width="1000" height="auto"
                        class="img-fluid rounded shadow">   
            </div>
            <div class="col-12 col-md-6 mb-5 d-flex justify-content-center">
                <img src="{% static 'mi_universe/images/guybrush_log.png' %}" alt="Shipwrecked Guybrush writing captains log" class="img-fluid rounded shadow home-hero-img">
            </div>
            <div class="col-12 col-md-6 mb-4">
                <h3>What is the secret of Monkey Island?</h3>
                <p>First of all, it is an adventure game that was very popular during the 1990s. All who 
                    were playing much computer games during the 90's for sure knows this game or have at 
                    least heard about it. You can read more in detail about the game in the about section.
                </p>
                <h3>But what is the SECRET of Monkey Island?</h3>
                <p>Do you really think that I would reveal the secret right away? No, but ask yourself... 
                    is there really a secret about Monkey Island? And, is it really revealed?<br>
                    I have myself played all the games and explored every corner of this island and other
                    islands as well, and the answer is still very unclear.<br>
                    But I won't say more than that about it because it would be a spoiler and it would 
                    ruin the whole experience.</p>
                    <p>
                    I invite you to explore the islands and discover the secrets for yourself and this
                    website will help you a little to get to know the games better. Here you can read about
                    the different islands throughout the games and you can get to know some of the characters
                    and what items every pirate should have.</p>
                    <p>
                    If you are really dedicated, like adventure games, sign up to become a member and an 
                    extra feature will be available to you.<br>
                    So feel free to explore this site and enjoy what it has to offer!<br>
                    If you want to come in contact with me, you can do that in the contact form at the 
                    bottom of the page. I would love to hear from you!
                </p>
                <div class="col-12 text-center my-5">
                    <img src="{% static 'mi_universe/images/swordfight.png' %}" alt="Guybrush and Rottingham in a sword fight" width="300" height="auto"
                        class="img-fluid rounded shadow"> 
                </div>
            </div>
        </div>
    </section>

{% endblock %}