{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-4">
    <h1>Islands</h1>
    <p>
        In the game, Guybrush will visit many islands. 
        The islands are listed here based on the game they appear in. You
        can click on the island name to see more details about it.
    </p>

    {% for group in grouped_islands %}
        <h5>{{ group.game }}</h5>

        <ul class="mi-list">
            {% for island in group.islands %}
                <li>
                    <a href="{% url 'island_detail' island.id %}">
                        {{ island.name }}
                    </a>

                    {% if island.sub_islands %}
                        <ul class="mi-list">
                            {% for sub in island.sub_islands %}
                                <li>
                                    <a href="{% url 'island_detail' sub.id %}">
                                        {{ sub.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    {% endfor %}
</section>

{% endblock %}
