{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="container island-fixed-height">
    <div class="row">
        <div class="col-12 text-center mt-5 mi-text-700">
            <h1>{{ island.name }}</h1>
            <p>{{ island.description|linebreaksbr }}</p>

            {% if island.image_file %}
                <a href="{% static 'mi_universe/images/' %}{{ island.image_file }}" target="_blank">
                <img src="{% static 'mi_universe/images/' %}{{ island.image_file }}"
                    alt="{{ island.name }}"
                    style="width: 200px; height: auto; cursor: pointer;">
                </a>
            {% endif %}
            <p><a href="{% url 'island_list' %}">Back to Islands</a></p>
        </div>
    </div>
</section>

{% endblock %}