{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container my-4">
    <h1>Pirate Items</h1>
    <p>The items here is only a few of the items that are available.
        In the game, Guybrush will wander around and will find many
        items that can be used to solve puzzles. Most of the items are
         useful, while a few of them are just for fun. You can click 
         on the item name to see more details about it.
    </p>

    <ul class="mi-list">
        {% for item in items %}
            <li>
                <a href="{% url 'pirateitem_detail' item.pk %}">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}