{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container my-5 mi-text-700">
    <h2 class="text-center mb-4">Monkey Island Shop</h2>

    <div class="row">
        {% for game in games %}
        <div class="col-md-4 text-center mb-4">
            <img src="{{ game.image.url }}" class="img-fluid rounded shadow" alt="{{ game.title }}">
            <h4 class="mt-2">{{ game.title }}</h4>
            <p>{{ game.description }}</p>
            <p class="fw-bold">{{ game.price }} €</p>
            <button class="btn btn-warning">Buy</button>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
