{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Shop</h1>
<div class="view-cart-wrapper">
    <a href="{% url 'cart' %}" class="view-cart-btn">View Cart</a>
</div>

<div class="shop-container">
    {% for game in games %}
        <div class="game-card">
            <img src="{% static 'mi_universe/images/' %}{{ game.image_file }}" 
            alt="{{ game.title }}" class="game-image">

            <h5>{{ game.title }}</h5>
            <p class="game-description">{{ game.description }}</p>
            <p><strong>{{ game.price }} €</strong></p>

            <a href="{% url 'add_to_cart' game.id %}" class="btn">Add to cart</a>
        </div>
    {% endfor %}
</div>

{% endblock %}